@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-css{
  background-color: #42672b;
}

.hero-css {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background da imagem */
.hero-bg {
  position: absolute;
  inset: 0;
  background: url("./assets/hero.jpg") no-repeat center center;
  background-size: cover;
  filter: brightness(50%); /* deixa apenas a imagem escura */
  z-index: 0;
}
